@import "/src/constants/variables.scss";

.settingBar {
  padding: 5px 0px;
  height: 40px;
  background-color: $whiteColor;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px $boxShadowGrey;
  display: flex;
  gap: 20px;
  div {
    span {
      font-size: 25px;
      font-weight: bold;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.countBlock {
  padding-left: 20px;
}

.numberInput {
  border: 2px solid $darkColor;
  border-radius: 5px;
  height: 20px;
}
