@import "/src/constants/variables.scss";

.settingBar {
  padding: 5px 0px;
  height: 40px;
  background-color: $whiteColor;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px $boxShadowGrey;
  display: flex;
  gap: 20px;
  div {
    span {
      font-size: 25px;
      font-weight: bold;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.countBlock {
  padding-left: 20px;
}
.countLineWidth {
  display: flex;
  border: 1px solid $darkColor;
  padding: 2px;
  border-radius: 20%;

  button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
  }
  button:hover {
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
  }
}

.numberInput {
  border: 2px solid $darkColor;
  border-radius: 5px;
  height: 20px;
}
