$darkColor: var(--dark-color);
$bodyColor: var(--body-color);
$lightWhite: var(--light-white);
$whiteColor: var(--white-color);
$boxShadowGrey: var(--box-shadow-color);
$headerColor: var(--header-color);
$imageColor: var(--image-color);
$hoverColor: var(--value-color);
